<footer id="footer">

    <div class="copyright">
        <div class="container">
            <ul class="float-right m-0 list-inline mobile-block">
                <li>
                    <a href="#">Terms & Conditions</a>
                </li>
                <li>&bull;</li>
                <li>
                    <a href="#">Privacy</a>
                </li>
            </ul>
            &copy; All Rights Reserved, ADDA
        </div>
    </div>
    <div class="container">
        <div class="row">

            <div class="col-xs-6 col-sm-6 col-md-6">






                <div class="k-card" style="width: 300px;">
                    <div class="k-card-body">
                        <h5 class="k-card-title" data-tag="selectkeylanguagekey">selectkey  languagekey</h5>
                    </div>
                    <div class="k-card-actions">
                        <span class="k-card-action">
                            <a class="btn btn-success" asp-area="" asp-controller="Home" asp-action="LanguageEn">EN</a>
                        </span>
                        <span class="k-card-action">
                            <a class="btn btn-success" asp-area="" asp-controller="Home" asp-action="LanguageAr">AR</a>
                        </span>

                    </div>
                </div>



            </div>
            


        </div>

    </div>
</footer>

<!--

            <footer>
                <div class="row">
                    <div class="col-sm-6">
                        <p>&copy; 2016 - Adding Localization</p>
                    </div>
                    <div class="col-sm-6 text-right">
                        @await Html.PartialAsync("_SelectLanguagePartial")
                    </div>
                </div>
            </footer>

-->
