

<div class="container">
    <div class="row">
        <div class="col-md-4">
            <img src="https://www.arabianindustry.com/static/content/images/larger1/17057-458710.jpg" width="200px" height="200px" />

        </div> <div class="col-md-4">
            @(Html.Kendo().Barcode().Name("manchego").Value("2346722").Encoding(BarcodeSymbology.EAN8).Width(200).Height(100))
            <div class="demo-section">
                <kendo-barcode name="barcode" value="1234567" type="BarcodeSymbology.Code93" width="200" height="100">
                    <barcode-text color="red" font="20px sans-serif">
                    </barcode-text>
                </kendo-barcode>
            </div>

        </div>
        <div class="col-md-4">
            <img src="https://tcaabudhabi.ae/Style%20Library/tcac/assets/default-TCAC450x300.jpg" width="200px" height="200px" />
        </div>
    </div>



    <!-- Photo heading-->
    <div class="col-md-2">

        <img src="https://image.shutterstock.com/image-photo/portrait-emirati-man-260nw-1409559353.jpg" class="usrephoto" />
    </div>
    <div class="col-md-6">
        <div class="row">
            <div class="col-md-12">
                <span class="userprofileText">Test Emirati Profile</span>
            </div>
            <div class="col-md-12">
                <span class="userprofileSkills">Senior Manager</span>

            </div>

        </div>


    </div>
    <div class="col-md-4">
        <div>
            <span class="k-icon my-custom-icon-class"></span>

            <style>
                .my-custom-icon-class:before {
                    content: "\e13a"; /* Adds a glyph using the Unicode character number */
                }

                .my-custom-icon-class2:before {
                    content: "\e120"; /* Adds a glyph using the Unicode character number */
                }

                .my-custom-icon-class3:before {
                    content: "\e140"; /* Adds a glyph using the Unicode character number */
                }

                .my-custom-icon-class4:before {
                    content: "\e400"; /* Adds a glyph using the Unicode character number */
                }
            </style>
            <span class="k-icon my-custom-icon-class2"></span>

            <span class="k-icon my-custom-icon-class3"></span>
            <span class="k-icon my-custom-icon-class4"></span>
        </div>




    </div>


    <div class="row">
        <div class="col-md-12 mygrapy">
            <div class="col-md-4">90</div>
            <div class="col-md-4">77</div>
            <div class="col-md-4">20</div>
            <div class="col-md-4">BIO</div>
        </div>
    </div>
    <hr />
    <div class="row">
        <div class="col-md-12 mygrapy">
            <div class="col-md-1"><h1>About Profile</h1></div>
            <div class="col-md-11">The Department of Culture and Tourism – Abu Dhabi (DCT Abu Dhabi) is set to launch a new award scheme to honour excellence in the travel and tourism industry, with t ...</div>
        </div>
    </div>
    <hr />
    <div class="row">
        <div class="col-md-12 mygrapy">
            <div class="col-md-4">90</div>
            <div class="col-md-4">77</div>
            <div class="col-md-4">20</div>
            <div class="col-md-4">BIO</div>
        </div>
    </div>
    <hr />


    <div class="row">
        <div class="col-md-12 mygrapy">
            <div class="col-md-4">90</div>
            <div class="col-md-4">77</div>
            <div class="col-md-4">20</div>
            <div class="col-md-4">BIO</div>
        </div>
    </div>
    <hr />


    <div class="row">
        <div class="col-md-12 mygrapy">
            <div class="col-md-4">90</div>
            <div class="col-md-4">77</div>
            <div class="col-md-4">20</div>
            <div class="col-md-4">BIO</div>
        </div>
    </div>
    <hr />
    <div class="row">
        <div class="col-md-12 mygrapy">
            <div class="col-md-4">90</div>
            <div class="col-md-4">77</div>
            <div class="col-md-4">20</div>
            <div class="col-md-4">BIO</div>
        </div>
    </div>
    <hr />



</div>
    <style type="text/css">
        .mygrapy{
            background-color:lightgray;
        }
        #barcode {
            width: 300px;
            margin: 15px auto;
            background-color: pink;
        }

        .usrephoto {
            width: 70px;
            height: 70px;
            border: solid 2px black;
            border-radius: 33px;
        }

        .userprofileText{
            font-size:33px;
            font-weight:bold;
                
        }

        .userprofileSkills {
            border: solid 3px #7d0f0f;
            width: 100%;
            border-radius: 11px;
            font-stretch: expanded;
            letter-spacing: 3px;
            /* font-size: 22px; */
            font-weight: bold;
            text-align: center;
            /* padding: 11px; */
            margin: 31px;
            margin-top: 42px;
            padding-right: 33px;
            padding-left: 33px;
            background-color: lightgrey;
        }
    </style>
